/* Start Variabales */
:root   {
    --main-color: rgb(16,202,183);
    --sec-color: #2c4855;
}
/* End Variabales */
/* Start Global Rules! */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
    font-family: "Work Sans", sans-serif;
}

.parent {
    background-color: bisque;
    
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Components */
.speacial-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.speacial-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
@media (max-width: 767px) {
  .speacial-heading {
    font-size: 60px;
  }
  .speacial-heading + p {
    margin-top: -30px;
  }
}
/* End Components */
/* Start Header */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 60px;
}
.header .links {
  position: relative;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}
.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: 0.3s
}
.header .links .icon span:last-child {
  width: 100%;
}
.header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #10cab7;
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
}
.header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #10cab7 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
.header .links:hover ul {
  display: block;
}
.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
.header .links ul li a:hover {
  padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #eee;
}
/* End Header */
/* Start Landing Section */
.landing {
    background-image: url(../images/686998.jpg);
    background-size: cover;
    height: calc(120vh - 62px);
    position: relative;
}
.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
}
.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}
.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}
/* End Landing Section */
/* Start Features */
.features  {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: whitesmoke;
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 20px;
}
.features .feat {
    padding: 20px;
    text-align: center;
}
.features .feat i {
     color: var(--main-color);
}
.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}
.features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
/* End Features */
/* Start Services */
.services {
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 20px;
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}
.services .services-content .srv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
}
.services .services-content .srv i {
  color: var(--main-color);
  flex-basis: 60px;
  font-size: 40px;

}
.services .services-content .srv .txt  { 
  flex: 1;
}
.services .services-content .srv .txt h3 {
  margin: 0 0 20px;
  color: #333;
}
.services .services-content .srv .txt p {
  color: #777;
  font-weight: 300;
  line-height: 1.6;
}
.services .services-content .image {
  text-align: center;
  position: relative;
  padding-left: 30px;

}
.services .services-content .image::before {
  content: "";
  background-color: var(--sec-color);
  width: 100px;
  height: calc(100% + 100px);
  top: -50px;
  position: absolute;
  right: 0;
  z-index: -1;
}
.services .services-content .image img {
  width: 220px;
}
@media (max-width: 1199px) {
 .image-column {
   display: none;
 }
}
/* End Services */
/* Start Portfolio */
.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: whitesmoke;
}
.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}
.portfolio .card {
  background-color: white;
}
.portfolio .card img {
  max-width: 100%;
}
.portfolio .card .info {
  padding: 20px;
}
.portfolio .card .info h3 {
  margin: 0;
}
.portfolio .card .info p {
  margin-bottom: 0;
  line-height: 1.6;
  color: #777;
}
/* End Portfolio */
/* Start About */
.about {
padding-top: 60px;
padding-bottom: 120px;
}
.about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap:  wrap;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .about-content {
  flex-direction: column;
  text-align: center;
  }
}
.about .image {
  position: relative;
  width: 250px;
  height: 375px;
}
.about .image::before {
  content: "";
}
.about .image::after{
  content: "";
}
.about .image::before {
  content: "";
  position: absolute;
  background-color: whitesmoke;
  width: 100px;
  height: 100%;
  top: -40px;
  left: -20px;
  z-index: -1;
}
.about .image::after{
  content: "";
  position: absolute;
  width: 120px;
  height: 200px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
  bottom: 0;
  right: -80px;
  top: -35px;
}
.about .text {
  flex-basis: calc(100% - 500px);
}
.about .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.about hr {
  display: inline-block;
  width: 50%;
  border-color: var(--main-color);
}
.about .text p:last-of-type {
 line-height: 2;
 color: #777;
}
/* End About */
/* Start Contact */
.contact {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: whitesmoke;
}
.contact .info {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
.contact .info .label {
  font-size: 40px;
  font-weight: 800;
  color: var(--sec-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info a {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
}
.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}
.contact .info .social i {
  margin-left: 10px;
  color: var(--sec-color);
}
@media (max-width: 767px) {
  .contact .info .label,
  .contact .info .link {
    font-size: 25px;
  }
}
/* End Contact */
/* Start Footer */
.footer {
  background-color: var(--sec-color);
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 16px;
}
.footer span {
  font-weight: bold;
  color: var(--main-color);
}
/* End Footer */